.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  padding: 1em;
}

nav.navbar {
  /* could optimize for responsive layouts...*/
  padding: 1em;
  display: flex;
}

main h2 {
  margin-top: 2em;
}

main .margin-bottom {
  margin-bottom: 1em;
}

.navbar-right {
  margin-left: auto;
}

.welcome-para {
  margin-top: 2em;
  text-align: left;
}

.sign-in .ant-form {
  margin-bottom: 1em;
}

.registration-form .ant-list {
  background-color: #fff1f0;
  border: 1px solid #ffa39e;
  border-radius: 4px;
}

.App .ant-form-item-label {
  line-height: 1.6em;
  white-space: normal;
  text-align: left;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    width: 850px;
    margin: 0 auto;
  }
  .App .ant-form-item-label {
  margin-top: 2em;
  }
}
